
:root {
    --bg-LCD: #e4fdff;
    --bg: #5c008a;
    --bg-opr: #fffb29;
    --bg-clear: #ff2759;
    --bg-equal: #00c108;
}

#calculator {
    width: 350px;
    height: 510px;
    background-color: var(--bg);
    border-radius: 8px;
    margin: 100px auto;
    padding: 10px;
}

#LCD {
    width: 90%;
    height: 190px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
}

#history {
    margin: 5px auto;
    width: 100%;
    height: 110px;
    background-color: var(--bg-LCD);
    border-radius: 8px;

}

#current {
    width: 100%;
    height: 70px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#show-number {
    width: 70%;
    height: 70px;
    background-color: var(--bg-LCD);
}

#show-action {
    width: 30%;
    height: 70px;
    background-color: var(--bg-LCD);
    margin: 0 5px;
}


#equal {
    width: 50px;
    height: 100%;
    background-color: var(--bg-equal);
}

#btns {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}

#operation {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#operation button {
    width: 50px;
    height: 50px;
    margin: 10px 15px;
    background-color: var(--bg-opr);

}

#nums {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

#nums button {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px 15px;
}

.calculator-clear {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px 15px;
    background-color: var(--bg-clear);
}

button {
    border-radius: 8px !important;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input {
    font-size: larger;
    border-radius: 5px;
}